server/workflows/backups/oV6WGX5uBeTZ9tRa_20260125_205126_imagen_working.json
{"updatedAt":"2026-01-25T20:51:19.293Z","createdAt":"2026-01-25T09:36:24.234Z","id":"oV6WGX5uBeTZ9tRa","name":"European Football Daily","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 * * *"}]}},"name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[0,0],"id":"6a6b5bf5-ab53-4e6f-af46-184143ea6008"},{"parameters":{"httpMethod":"POST","path":"european-football-daily","responseMode":"responseNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,208],"id":"0025e044-d2ba-4e9f-8e73-98ca642c1087","webhookId":"191adfc0-b71a-41c2-8a26-25ca9ec0b6c1"},{"parameters":{},"name":"Merge Triggers","type":"n8n-nodes-base.merge","typeVersion":2,"position":[256,112],"id":"a7a00ee0-650d-4506-85d1-d83c0e66f6ae"},{"parameters":{"url":"https://news.google.com/rss/search?q=european+football+champions+league+OR+premier+league+OR+la+liga+OR+bundesliga+OR+serie+a&hl=en-US&gl=US&ceid=US:en","options":{}},"name":"Fetch RSS","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[512,112],"id":"a0c4d441-f13a-4003-8f49-1a710d29c12e"},{"parameters":{"options":{}},"name":"Parse XML","type":"n8n-nodes-base.xml","typeVersion":1,"position":[752,112],"id":"9466c9e8-2426-4e44-8a8e-ef37a1138c38"},{"parameters":{"jsCode":"const rss = $input.first().json;\nconst items = rss?.rss?.channel?.item || [];\nconst articles = items.slice(0, 10).map(item => ({\n  title: item.title || '',\n  link: item.link || '',\n  source: 'Google News',\n  pubDate: item.pubDate || ''\n}));\nreturn articles.map(a => ({ json: a }));"},"name":"Extract Articles","type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,112],"id":"2a98ef6a-8bc2-4312-9ae1-9c72f99e4b84"},{"parameters":{"method":"POST","url":"https://91ed71cb-7291-48f5-a070-a3f5b7f27ed4-00-1krg253x2da17.worf.replit.dev/api/workflows/callback","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"workflowId\": \"european-football-daily\",\n  \"step\": \"extract-articles\",\n  \"stepIndex\": 1,\n  \"traceId\": \"{{ $('Webhook').first().json.traceId || $('Merge Triggers').first().json.traceId || 'trace_' + $execution.id }}\",\n  \"output\": {\n    \"articles\": {{ JSON.stringify($input.all().map(i => i.json)) }},\n    \"count\": {{ $input.all().length }}\n  },\n  \"executionId\": \"{{ $execution.id }}\"\n}","options":{}},"name":"Callback Articles","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1104,256],"id":"c6ed77f1-fb89-4efe-875f-2c7668fa7140"},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent","sendQuery":false,"queryParameters":{"parameters":[]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-goog-api-key","value":"={{ $input.first().json.geminiApiKey }}"},{"name":"User-Agent","value":"Mozilla/5.0 (compatible; BilkoBibitkov/1.0; +https://bilkobibitkov.replit.app)"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": {{ JSON.stringify($input.first().json.prompt) }}\n    }]\n  }]\n}","options":{}},"name":"Gemini Sentiment","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1264,112],"id":"f0e01f85-7ded-41e9-af35-056edfa41f18","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"jsCode":"const response = $input.first().json;\nconst geminiApiKey = $('Webhook').first().json.body.geminiApiKey;\nlet text = response?.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\n\n// Strip markdown code fences if present\ntext = text.trim();\ntext = text.replace(/^```[a-zA-Z]*\\n?/, '').replace(/\\n?```\\s*$/, '');\n\n// Extract JSON object\nconst jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\nlet parsed = { winner: null };\nif (jsonMatch) {\n  try {\n    // Try parsing directly first (JSON.parse handles newlines fine)\n    parsed = JSON.parse(jsonMatch[0]);\n  } catch (e) {\n    console.log('JSON parse error:', e.message);\n  }\n}\nreturn [{ json: { ...parsed, geminiApiKey } }];"},"name":"Parse Sentiment","type":"n8n-nodes-base.code","typeVersion":2,"position":[1504,112],"id":"7d271858-4ecf-4393-bea1-2012459d21b6"},{"parameters":{"method":"POST","url":"https://91ed71cb-7291-48f5-a070-a3f5b7f27ed4-00-1krg253x2da17.worf.replit.dev/api/workflows/callback","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"workflowId\": \"european-football-daily\",\n  \"step\": \"sentiment-analysis\",\n  \"stepIndex\": 2,\n  \"traceId\": \"{{ $('Webhook').first().json.traceId || $('Merge Triggers').first().json.traceId || 'trace_' + $execution.id }}\",\n  \"output\": {{ JSON.stringify($input.first().json) }},\n  \"executionId\": \"{{ $execution.id }}\"\n}","options":{}},"name":"Callback Sentiment","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1600,256],"id":"142dc789-9e51-4288-9ff2-7ba04dd47cde"},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent","sendQuery":false,"queryParameters":{"parameters":[]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-goog-api-key","value":"={{ $input.first().json.geminiApiKey }}"},{"name":"User-Agent","value":"Mozilla/5.0 (compatible; BilkoBibitkov/1.0; +https://bilkobibitkov.replit.app)"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Write an engaging Facebook post about this football news: {{ $input.first().json.winner?.title || 'Football news today' }}. Reason it's positive: {{ $input.first().json.winner?.reason || 'Great news' }}. Make it enthusiastic but professional, include relevant hashtags, and keep it under 280 characters. Return JSON: { \\\"postContent\\\": \\\"...\\\" }\"\n    }]\n  }]\n}","options":{}},"name":"Generate Post","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1760,112],"id":"7c494835-fa77-48c9-ae73-269be50bb6af","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"jsCode":"const response = $input.first().json;\nconst geminiApiKey = $('Webhook').first().json.body.geminiApiKey;\nlet text = response?.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\n\n// Strip markdown code fences if present\ntext = text.trim();\ntext = text.replace(/^```[a-zA-Z]*\\n?/, '').replace(/\\n?```\\s*$/, '');\n\n// Extract JSON object\nconst jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\nlet parsed = { postContent: null };\nif (jsonMatch) {\n  try {\n    // Try parsing directly first (JSON.parse handles newlines fine)\n    parsed = JSON.parse(jsonMatch[0]);\n  } catch (e) {\n    console.log('JSON parse error:', e.message);\n  }\n}\nreturn [{ json: { ...parsed, geminiApiKey } }];"},"name":"Parse Post","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,112],"id":"5ffc1c44-ad8f-4df3-bb2c-2ac5ec931d9f"},{"id":"fb8ce752-bb66-4d73-abb2-24fad043a177","name":"Generate Image","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2256,112],"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent","sendQuery":false,"queryParameters":{"parameters":[]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-goog-api-key","value":"={{ $input.first().json.geminiApiKey }}"},{"name":"User-Agent","value":"Mozilla/5.0 (compatible; BilkoBibitkov/1.0; +https://bilkobibitkov.replit.app)"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"You are given this Facebook post content: {{ $input.first().json.postContent }}\\n\\nGenerate a detailed image prompt for a football-themed social media image that matches this post. The image should be vibrant, celebratory, and suitable for Facebook.\\n\\nIMPORTANT: Return JSON with EXACTLY these two fields:\\n1. imagePrompt: the generated image prompt\\n2. postContent: echo back the exact post content you were given\\n\\nExample response: { \\\"imagePrompt\\\": \\\"A vibrant stadium celebration...\\\", \\\"postContent\\\": \\\"the original post content\\\" }\"\n    }]\n  }]\n}","options":{}}},{"parameters":{"jsCode":"const response = $input.first().json;\nconst geminiApiKey = $('Webhook').first().json.body.geminiApiKey;\nlet text = response?.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\n\n// Strip markdown code fences if present\ntext = text.trim();\ntext = text.replace(/^```[a-zA-Z]*\\n?/, '').replace(/\\n?```\\s*$/, '');\n\n// Extract JSON object\nconst jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\nlet parsed = { imagePrompt: null, postContent: null };\nif (jsonMatch) {\n  try {\n    parsed = JSON.parse(jsonMatch[0]);\n  } catch (e) {\n    console.log('JSON parse error:', e.message);\n  }\n}\nreturn [{ json: { imagePrompt: parsed.imagePrompt, postContent: parsed.postContent, geminiApiKey } }];"},"name":"Parse Image Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[2512,112],"id":"654ab797-28bc-4e88-a66c-74887fbedae5"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst postContent = input.postContent || 'Football news update!';\nconst imagePrompt = input.imagePrompt || 'European football celebration';\nconst imageDataUri = input.imageDataUri || null;\n\nconst output = {\n  success: true,\n  data: {\n    postContent: postContent,\n    imagePrompt: imagePrompt,\n    imageUrl: imageDataUri\n  },\n  metadata: {\n    workflowId: \"european-football-daily\",\n    executedAt: new Date().toISOString()\n  }\n};\nreturn [{ json: output }];"},"name":"Build Final Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[3262,112],"id":"71b64e2c-1852-4ef6-a21d-732907892df3"},{"parameters":{"method":"POST","url":"https://91ed71cb-7291-48f5-a070-a3f5b7f27ed4-00-1krg253x2da17.worf.replit.dev/api/workflows/callback","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"workflowId\": \"european-football-daily\",\n  \"step\": \"final-output\",\n  \"stepIndex\": 3,\n  \"traceId\": \"{{ $('Webhook').first().json.traceId || $('Merge Triggers').first().json.traceId || 'trace_' + $execution.id }}\",\n  \"output\": {{ JSON.stringify($input.first().json) }},\n  \"executionId\": \"{{ $execution.id }}\"\n}","options":{}},"name":"Callback Final","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[3008,112],"id":"5a99a7c6-1f47-47eb-a13d-888ae0334bcf"},{"parameters":{"respondWith":"json","responseBody":"={{ $('Build Final Output').first().json }}","options":{}},"name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[3264,208],"id":"4ea89a64-7267-4476-aac6-d67c10a7da98"},{"parameters":{},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[208,368],"id":"303bff0e-4feb-4c29-903e-cd2782ab38ba","name":"Sticky Note"},{"parameters":{"jsCode":"// Aggregate all articles into a single item for Gemini processing\nconst allArticles = $input.all().map(item => item.json);\nconst titles = allArticles.map(a => a.title);\nconst geminiApiKey = $('Webhook').first().json.body.geminiApiKey;\nreturn [{ \n  json: { \n    geminiApiKey: geminiApiKey,\n    titles: titles,\n    articles: allArticles,\n    prompt: `Analyze these football news headlines and identify which one represents the most positive, cheerful, or celebratory event. Score each from 1-10 for positivity and explain briefly. Return JSON with format: { \"articles\": [{ \"title\": \"...\", \"score\": N, \"reason\": \"...\" }], \"winner\": { \"title\": \"...\", \"score\": N, \"reason\": \"...\", \"index\": N } }. Headlines: ${JSON.stringify(titles)}`\n  }\n}];"},"name":"Aggregate Articles","type":"n8n-nodes-base.code","typeVersion":2,"position":[1136,112],"id":"aggregate-articles-1769361250222"},{"parameters":{"amount":3,"unit":"seconds"},"name":"Wait Before Post","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1640,112],"id":"wait-before-post-1769363620923"},{"parameters":{"amount":3,"unit":"seconds"},"name":"Wait Before Image","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2136,112],"id":"wait-before-image-1769363620923"},{"id":"74affa50-0102-49a6-8190-3e24f1ec0a2e","name":"Call Imagen API","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2762,112],"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/imagen-4.0-fast-generate-001:predict","sendQuery":false,"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-goog-api-key","value":"={{ $input.first().json.geminiApiKey }}"},{"name":"User-Agent","value":"Mozilla/5.0 (compatible; BilkoBibitkov/1.0; +https://bilkobibitkov.replit.app)"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"instances\": [{\n    \"prompt\": \"{{ $input.first().json.imagePrompt }}\"\n  }],\n  \"parameters\": {\n    \"sampleCount\": 1,\n    \"aspectRatio\": \"16:9\"\n  }\n}","options":{}},"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"id":"ec694419-9c45-4f5d-b2a9-56f136492315","name":"Parse Imagen Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[3012,112],"parameters":{"jsCode":"const response = $input.first().json;\nconst prevData = $('Parse Image Prompt').first().json;\n\n// Extract image from Imagen response\n// Response format: { predictions: [{ bytesBase64Encoded: \"...\", mimeType: \"image/png\" }] }\nlet imageBase64 = null;\nlet imageMimeType = null;\n\nif (response?.predictions && response.predictions.length > 0) {\n  const prediction = response.predictions[0];\n  imageBase64 = prediction.bytesBase64Encoded || null;\n  imageMimeType = prediction.mimeType || 'image/png';\n}\n\n// Create data URI if we have base64 image\nlet imageDataUri = null;\nif (imageBase64) {\n  imageDataUri = `data:${imageMimeType};base64,${imageBase64}`;\n}\n\nreturn [{ \n  json: { \n    postContent: prevData.postContent,\n    imagePrompt: prevData.imagePrompt,\n    imageBase64: imageBase64,\n    imageMimeType: imageMimeType,\n    imageDataUri: imageDataUri,\n    geminiApiKey: prevData.geminiApiKey\n  } \n}];"}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Merge Triggers","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Merge Triggers","type":"main","index":1}]]},"Merge Triggers":{"main":[[{"node":"Fetch RSS","type":"main","index":0}]]},"Fetch RSS":{"main":[[{"node":"Parse XML","type":"main","index":0}]]},"Parse XML":{"main":[[{"node":"Extract Articles","type":"main","index":0}]]},"Extract Articles":{"main":[[{"node":"Callback Articles","type":"main","index":0},{"node":"Aggregate Articles","type":"main","index":0}]]},"Callback Articles":{"main":[]},"Gemini Sentiment":{"main":[[{"node":"Parse Sentiment","type":"main","index":0}]]},"Parse Sentiment":{"main":[[{"node":"Callback Sentiment","type":"main","index":0},{"node":"Wait Before Post","type":"main","index":0}],[{"node":"Generate Post","type":"main","index":0}]]},"Callback Sentiment":{"main":[]},"Generate Post":{"main":[[{"node":"Parse Post","type":"main","index":0}]]},"Parse Post":{"main":[[{"node":"Wait Before Image","type":"main","index":0}]]},"Generate Image":{"main":[[{"node":"Parse Image Prompt","type":"main","index":0}]]},"Parse Image Prompt":{"main":[[{"node":"Call Imagen API","type":"main","index":0}]]},"Build Final Output":{"main":[[{"node":"Callback Final","type":"main","index":0}]]},"Callback Final":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Aggregate Articles":{"main":[[{"node":"Gemini Sentiment","type":"main","index":0}]]},"Wait Before Post":{"main":[[{"node":"Generate Post","type":"main","index":0}]]},"Wait Before Image":{"main":[[{"node":"Generate Image","type":"main","index":0}]]},"Call Imagen API":{"main":[[{"node":"Parse Imagen Response","type":"main","index":0}]]},"Parse Imagen Response":{"main":[[{"node":"Build Final Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"aaeb9b4a-0562-4311-a048-5ab0a9b2609e","activeVersionId":"aaeb9b4a-0562-4311-a048-5ab0a9b2609e","versionCounter":138,"triggerCount":2,"shared":[{"updatedAt":"2026-01-25T09:36:24.236Z","createdAt":"2026-01-25T09:36:24.236Z","role":"workflow:owner","workflowId":"oV6WGX5uBeTZ9tRa","projectId":"tYcTNrTV20x5m3NS","project":{"updatedAt":"2026-01-21T18:01:18.310Z","createdAt":"2026-01-21T18:01:12.176Z","id":"tYcTNrTV20x5m3NS","name":"Bilko Bibitkov <bilkobibitkov2000@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"80f5768f-36e3-4197-9886-2f8e29df41d7","projectRelations":[{"updatedAt":"2026-01-21T18:01:12.176Z","createdAt":"2026-01-21T18:01:12.176Z","userId":"80f5768f-36e3-4197-9886-2f8e29df41d7","projectId":"tYcTNrTV20x5m3NS","user":{"updatedAt":"2026-01-25T08:01:03.000Z","createdAt":"2026-01-21T18:01:09.996Z","id":"80f5768f-36e3-4197-9886-2f8e29df41d7","email":"bilkobibitkov2000@gmail.com","firstName":"Bilko","lastName":"Bibitkov","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"d144QoAsV5hIbzvQ","userActivatedAt":1769150504302},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-25","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-25T20:51:19.294Z","createdAt":"2026-01-25T20:51:19.294Z","versionId":"aaeb9b4a-0562-4311-a048-5ab0a9b2609e","workflowId":"oV6WGX5uBeTZ9tRa","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 * * *"}]}},"name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[0,0],"id":"6a6b5bf5-ab53-4e6f-af46-184143ea6008"},{"parameters":{"httpMethod":"POST","path":"european-football-daily","responseMode":"responseNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,208],"id":"0025e044-d2ba-4e9f-8e73-98ca642c1087","webhookId":"191adfc0-b71a-41c2-8a26-25ca9ec0b6c1"},{"parameters":{},"name":"Merge Triggers","type":"n8n-nodes-base.merge","typeVersion":2,"position":[256,112],"id":"a7a00ee0-650d-4506-85d1-d83c0e66f6ae"},{"parameters":{"url":"https://news.google.com/rss/search?q=european+football+champions+league+OR+premier+league+OR+la+liga+OR+bundesliga+OR+serie+a&hl=en-US&gl=US&ceid=US:en","options":{}},"name":"Fetch RSS","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[512,112],"id":"a0c4d441-f13a-4003-8f49-1a710d29c12e"},{"parameters":{"options":{}},"name":"Parse XML","type":"n8n-nodes-base.xml","typeVersion":1,"position":[752,112],"id":"9466c9e8-2426-4e44-8a8e-ef37a1138c38"},{"parameters":{"jsCode":"const rss = $input.first().json;\nconst items = rss?.rss?.channel?.item || [];\nconst articles = items.slice(0, 10).map(item => ({\n  title: item.title || '',\n  link: item.link || '',\n  source: 'Google News',\n  pubDate: item.pubDate || ''\n}));\nreturn articles.map(a => ({ json: a }));"},"name":"Extract Articles","type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,112],"id":"2a98ef6a-8bc2-4312-9ae1-9c72f99e4b84"},{"parameters":{"method":"POST","url":"https://91ed71cb-7291-48f5-a070-a3f5b7f27ed4-00-1krg253x2da17.worf.replit.dev/api/workflows/callback","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"workflowId\": \"european-football-daily\",\n  \"step\": \"extract-articles\",\n  \"stepIndex\": 1,\n  \"traceId\": \"{{ $('Webhook').first().json.traceId || $('Merge Triggers').first().json.traceId || 'trace_' + $execution.id }}\",\n  \"output\": {\n    \"articles\": {{ JSON.stringify($input.all().map(i => i.json)) }},\n    \"count\": {{ $input.all().length }}\n  },\n  \"executionId\": \"{{ $execution.id }}\"\n}","options":{}},"name":"Callback Articles","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1104,256],"id":"c6ed77f1-fb89-4efe-875f-2c7668fa7140"},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent","sendQuery":false,"queryParameters":{"parameters":[]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-goog-api-key","value":"={{ $input.first().json.geminiApiKey }}"},{"name":"User-Agent","value":"Mozilla/5.0 (compatible; BilkoBibitkov/1.0; +https://bilkobibitkov.replit.app)"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": {{ JSON.stringify($input.first().json.prompt) }}\n    }]\n  }]\n}","options":{}},"name":"Gemini Sentiment","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1264,112],"id":"f0e01f85-7ded-41e9-af35-056edfa41f18","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"jsCode":"const response = $input.first().json;\nconst geminiApiKey = $('Webhook').first().json.body.geminiApiKey;\nlet text = response?.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\n\n// Strip markdown code fences if present\ntext = text.trim();\ntext = text.replace(/^```[a-zA-Z]*\\n?/, '').replace(/\\n?```\\s*$/, '');\n\n// Extract JSON object\nconst jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\nlet parsed = { winner: null };\nif (jsonMatch) {\n  try {\n    // Try parsing directly first (JSON.parse handles newlines fine)\n    parsed = JSON.parse(jsonMatch[0]);\n  } catch (e) {\n    console.log('JSON parse error:', e.message);\n  }\n}\nreturn [{ json: { ...parsed, geminiApiKey } }];"},"name":"Parse Sentiment","type":"n8n-nodes-base.code","typeVersion":2,"position":[1504,112],"id":"7d271858-4ecf-4393-bea1-2012459d21b6"},{"parameters":{"method":"POST","url":"https://91ed71cb-7291-48f5-a070-a3f5b7f27ed4-00-1krg253x2da17.worf.replit.dev/api/workflows/callback","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"workflowId\": \"european-football-daily\",\n  \"step\": \"sentiment-analysis\",\n  \"stepIndex\": 2,\n  \"traceId\": \"{{ $('Webhook').first().json.traceId || $('Merge Triggers').first().json.traceId || 'trace_' + $execution.id }}\",\n  \"output\": {{ JSON.stringify($input.first().json) }},\n  \"executionId\": \"{{ $execution.id }}\"\n}","options":{}},"name":"Callback Sentiment","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1600,256],"id":"142dc789-9e51-4288-9ff2-7ba04dd47cde"},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent","sendQuery":false,"queryParameters":{"parameters":[]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-goog-api-key","value":"={{ $input.first().json.geminiApiKey }}"},{"name":"User-Agent","value":"Mozilla/5.0 (compatible; BilkoBibitkov/1.0; +https://bilkobibitkov.replit.app)"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Write an engaging Facebook post about this football news: {{ $input.first().json.winner?.title || 'Football news today' }}. Reason it's positive: {{ $input.first().json.winner?.reason || 'Great news' }}. Make it enthusiastic but professional, include relevant hashtags, and keep it under 280 characters. Return JSON: { \\\"postContent\\\": \\\"...\\\" }\"\n    }]\n  }]\n}","options":{}},"name":"Generate Post","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1760,112],"id":"7c494835-fa77-48c9-ae73-269be50bb6af","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"jsCode":"const response = $input.first().json;\nconst geminiApiKey = $('Webhook').first().json.body.geminiApiKey;\nlet text = response?.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\n\n// Strip markdown code fences if present\ntext = text.trim();\ntext = text.replace(/^```[a-zA-Z]*\\n?/, '').replace(/\\n?```\\s*$/, '');\n\n// Extract JSON object\nconst jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\nlet parsed = { postContent: null };\nif (jsonMatch) {\n  try {\n    // Try parsing directly first (JSON.parse handles newlines fine)\n    parsed = JSON.parse(jsonMatch[0]);\n  } catch (e) {\n    console.log('JSON parse error:', e.message);\n  }\n}\nreturn [{ json: { ...parsed, geminiApiKey } }];"},"name":"Parse Post","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,112],"id":"5ffc1c44-ad8f-4df3-bb2c-2ac5ec931d9f"},{"id":"fb8ce752-bb66-4d73-abb2-24fad043a177","name":"Generate Image","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2256,112],"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent","sendQuery":false,"queryParameters":{"parameters":[]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-goog-api-key","value":"={{ $input.first().json.geminiApiKey }}"},{"name":"User-Agent","value":"Mozilla/5.0 (compatible; BilkoBibitkov/1.0; +https://bilkobibitkov.replit.app)"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"You are given this Facebook post content: {{ $input.first().json.postContent }}\\n\\nGenerate a detailed image prompt for a football-themed social media image that matches this post. The image should be vibrant, celebratory, and suitable for Facebook.\\n\\nIMPORTANT: Return JSON with EXACTLY these two fields:\\n1. imagePrompt: the generated image prompt\\n2. postContent: echo back the exact post content you were given\\n\\nExample response: { \\\"imagePrompt\\\": \\\"A vibrant stadium celebration...\\\", \\\"postContent\\\": \\\"the original post content\\\" }\"\n    }]\n  }]\n}","options":{}}},{"parameters":{"jsCode":"const response = $input.first().json;\nconst geminiApiKey = $('Webhook').first().json.body.geminiApiKey;\nlet text = response?.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\n\n// Strip markdown code fences if present\ntext = text.trim();\ntext = text.replace(/^```[a-zA-Z]*\\n?/, '').replace(/\\n?```\\s*$/, '');\n\n// Extract JSON object\nconst jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\nlet parsed = { imagePrompt: null, postContent: null };\nif (jsonMatch) {\n  try {\n    parsed = JSON.parse(jsonMatch[0]);\n  } catch (e) {\n    console.log('JSON parse error:', e.message);\n  }\n}\nreturn [{ json: { imagePrompt: parsed.imagePrompt, postContent: parsed.postContent, geminiApiKey } }];"},"name":"Parse Image Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[2512,112],"id":"654ab797-28bc-4e88-a66c-74887fbedae5"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst postContent = input.postContent || 'Football news update!';\nconst imagePrompt = input.imagePrompt || 'European football celebration';\nconst imageDataUri = input.imageDataUri || null;\n\nconst output = {\n  success: true,\n  data: {\n    postContent: postContent,\n    imagePrompt: imagePrompt,\n    imageUrl: imageDataUri\n  },\n  metadata: {\n    workflowId: \"european-football-daily\",\n    executedAt: new Date().toISOString()\n  }\n};\nreturn [{ json: output }];"},"name":"Build Final Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[3262,112],"id":"71b64e2c-1852-4ef6-a21d-732907892df3"},{"parameters":{"method":"POST","url":"https://91ed71cb-7291-48f5-a070-a3f5b7f27ed4-00-1krg253x2da17.worf.replit.dev/api/workflows/callback","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"workflowId\": \"european-football-daily\",\n  \"step\": \"final-output\",\n  \"stepIndex\": 3,\n  \"traceId\": \"{{ $('Webhook').first().json.traceId || $('Merge Triggers').first().json.traceId || 'trace_' + $execution.id }}\",\n  \"output\": {{ JSON.stringify($input.first().json) }},\n  \"executionId\": \"{{ $execution.id }}\"\n}","options":{}},"name":"Callback Final","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[3008,112],"id":"5a99a7c6-1f47-47eb-a13d-888ae0334bcf"},{"parameters":{"respondWith":"json","responseBody":"={{ $('Build Final Output').first().json }}","options":{}},"name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[3264,208],"id":"4ea89a64-7267-4476-aac6-d67c10a7da98"},{"parameters":{},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[208,368],"id":"303bff0e-4feb-4c29-903e-cd2782ab38ba","name":"Sticky Note"},{"parameters":{"jsCode":"// Aggregate all articles into a single item for Gemini processing\nconst allArticles = $input.all().map(item => item.json);\nconst titles = allArticles.map(a => a.title);\nconst geminiApiKey = $('Webhook').first().json.body.geminiApiKey;\nreturn [{ \n  json: { \n    geminiApiKey: geminiApiKey,\n    titles: titles,\n    articles: allArticles,\n    prompt: `Analyze these football news headlines and identify which one represents the most positive, cheerful, or celebratory event. Score each from 1-10 for positivity and explain briefly. Return JSON with format: { \"articles\": [{ \"title\": \"...\", \"score\": N, \"reason\": \"...\" }], \"winner\": { \"title\": \"...\", \"score\": N, \"reason\": \"...\", \"index\": N } }. Headlines: ${JSON.stringify(titles)}`\n  }\n}];"},"name":"Aggregate Articles","type":"n8n-nodes-base.code","typeVersion":2,"position":[1136,112],"id":"aggregate-articles-1769361250222"},{"parameters":{"amount":3,"unit":"seconds"},"name":"Wait Before Post","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1640,112],"id":"wait-before-post-1769363620923"},{"parameters":{"amount":3,"unit":"seconds"},"name":"Wait Before Image","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2136,112],"id":"wait-before-image-1769363620923"},{"id":"74affa50-0102-49a6-8190-3e24f1ec0a2e","name":"Call Imagen API","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2762,112],"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/imagen-4.0-fast-generate-001:predict","sendQuery":false,"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-goog-api-key","value":"={{ $input.first().json.geminiApiKey }}"},{"name":"User-Agent","value":"Mozilla/5.0 (compatible; BilkoBibitkov/1.0; +https://bilkobibitkov.replit.app)"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"instances\": [{\n    \"prompt\": \"{{ $input.first().json.imagePrompt }}\"\n  }],\n  \"parameters\": {\n    \"sampleCount\": 1,\n    \"aspectRatio\": \"16:9\"\n  }\n}","options":{}},"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"id":"ec694419-9c45-4f5d-b2a9-56f136492315","name":"Parse Imagen Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[3012,112],"parameters":{"jsCode":"const response = $input.first().json;\nconst prevData = $('Parse Image Prompt').first().json;\n\n// Extract image from Imagen response\n// Response format: { predictions: [{ bytesBase64Encoded: \"...\", mimeType: \"image/png\" }] }\nlet imageBase64 = null;\nlet imageMimeType = null;\n\nif (response?.predictions && response.predictions.length > 0) {\n  const prediction = response.predictions[0];\n  imageBase64 = prediction.bytesBase64Encoded || null;\n  imageMimeType = prediction.mimeType || 'image/png';\n}\n\n// Create data URI if we have base64 image\nlet imageDataUri = null;\nif (imageBase64) {\n  imageDataUri = `data:${imageMimeType};base64,${imageBase64}`;\n}\n\nreturn [{ \n  json: { \n    postContent: prevData.postContent,\n    imagePrompt: prevData.imagePrompt,\n    imageBase64: imageBase64,\n    imageMimeType: imageMimeType,\n    imageDataUri: imageDataUri,\n    geminiApiKey: prevData.geminiApiKey\n  } \n}];"}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Merge Triggers","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Merge Triggers","type":"main","index":1}]]},"Merge Triggers":{"main":[[{"node":"Fetch RSS","type":"main","index":0}]]},"Fetch RSS":{"main":[[{"node":"Parse XML","type":"main","index":0}]]},"Parse XML":{"main":[[{"node":"Extract Articles","type":"main","index":0}]]},"Extract Articles":{"main":[[{"node":"Callback Articles","type":"main","index":0},{"node":"Aggregate Articles","type":"main","index":0}]]},"Callback Articles":{"main":[]},"Gemini Sentiment":{"main":[[{"node":"Parse Sentiment","type":"main","index":0}]]},"Parse Sentiment":{"main":[[{"node":"Callback Sentiment","type":"main","index":0},{"node":"Wait Before Post","type":"main","index":0}],[{"node":"Generate Post","type":"main","index":0}]]},"Callback Sentiment":{"main":[]},"Generate Post":{"main":[[{"node":"Parse Post","type":"main","index":0}]]},"Parse Post":{"main":[[{"node":"Wait Before Image","type":"main","index":0}]]},"Generate Image":{"main":[[{"node":"Parse Image Prompt","type":"main","index":0}]]},"Parse Image Prompt":{"main":[[{"node":"Call Imagen API","type":"main","index":0}]]},"Build Final Output":{"main":[[{"node":"Callback Final","type":"main","index":0}]]},"Callback Final":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Aggregate Articles":{"main":[[{"node":"Gemini Sentiment","type":"main","index":0}]]},"Wait Before Post":{"main":[[{"node":"Generate Post","type":"main","index":0}]]},"Wait Before Image":{"main":[[{"node":"Generate Image","type":"main","index":0}]]},"Call Imagen API":{"main":[[{"node":"Parse Imagen Response","type":"main","index":0}]]},"Parse Imagen Response":{"main":[[{"node":"Build Final Output","type":"main","index":0}]]}},"authors":"Bilko Bibitkov","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-01-25T20:51:19.514Z","id":65,"workflowId":"oV6WGX5uBeTZ9tRa","versionId":"aaeb9b4a-0562-4311-a048-5ab0a9b2609e","event":"activated","userId":"80f5768f-36e3-4197-9886-2f8e29df41d7"}]}}