server/workflows/backups/XKKSpAz02RMd3Puo_bilko101_v1.json
{"updatedAt":"2026-01-29T06:34:08.948Z","createdAt":"2026-01-29T06:28:32.845Z","id":"XKKSpAz02RMd3Puo","name":"Bilko 101","description":null,"active":true,"isArchived":false,"nodes":[{"id":"webhook-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"bilko-101","parameters":{"path":"bilko-101","responseMode":"responseNode","options":{}}},{"id":"google-sheets-read","name":"Read Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[500,300],"parameters":{"operation":"read","documentId":{"__rl":true,"value":"1nULmPk7J7TXbPJngdtT5w384aXhR-xS82nMegiHluZU","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"id"},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"","name":""}}},{"id":"format-message","name":"Format Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[750,300],"parameters":{"jsCode":"// Format the sheet data into a chat message\nconst rows = $input.all();\nconst webhookData = $('Webhook').first().json.body || {};\n\nlet message = '📊 *Sheet Update from Bilko 101*\\n\\n';\n\nif (rows.length === 0) {\n  message += 'No data found in the sheet.';\n} else {\n  // Get column headers from first row's keys\n  const headers = Object.keys(rows[0].json).filter(h => !h.startsWith('_'));\n  \n  // Build formatted output (limit to 10 rows for readability)\n  rows.slice(0, 10).forEach((row, index) => {\n    message += `*Row ${index + 1}*:\\n`;\n    headers.forEach(header => {\n      const value = row.json[header];\n      if (value !== undefined && value !== null && value !== '') {\n        message += `  ${header}: ${value}\\n`;\n      }\n    });\n    message += '\\n';\n  });\n  \n  if (rows.length > 10) {\n    message += `...and ${rows.length - 10} more rows\\n`;\n  }\n}\n\nreturn [{ \n  json: { \n    message, \n    rowCount: rows.length,\n    chatWebhookUrl: webhookData.chatWebhookUrl || ''\n  } \n}];\n"}},{"id":"send-to-chat","name":"Send to Google Chat","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1000,300],"parameters":{"method":"POST","url":"={{ $json.chatWebhookUrl || $('Webhook').first().json.body.chatWebhookUrl || ''  }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ text: $json.message }) }}","options":{}}},{"id":"respond-webhook","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1250,300],"parameters":{"respondWith":"json","responseBody":"={{ { success: true, rowsProcessed: $('Format Message').first().json.rowCount } }}"}}],"connections":{"Webhook":{"main":[[{"node":"Read Sheet","type":"main","index":0}]]},"Read Sheet":{"main":[[{"node":"Format Message","type":"main","index":0}]]},"Format Message":{"main":[[{"node":"Send to Google Chat","type":"main","index":0}]]},"Send to Google Chat":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"16081d14-2a18-49ce-b428-2003a03f24b0","activeVersionId":"16081d14-2a18-49ce-b428-2003a03f24b0","versionCounter":9,"triggerCount":1,"shared":[{"updatedAt":"2026-01-29T06:28:32.848Z","createdAt":"2026-01-29T06:28:32.848Z","role":"workflow:owner","workflowId":"XKKSpAz02RMd3Puo","projectId":"kt9urOqK3HpDhvEV","project":{"updatedAt":"2026-01-28T21:47:58.999Z","createdAt":"2026-01-28T21:47:53.845Z","id":"kt9urOqK3HpDhvEV","name":"Bilko Bilkoff <bilko@euroschooloftennis.com>","type":"personal","icon":null,"description":null,"creatorId":"aceaae98-7559-4d0b-b10c-6f6c270ad153","projectRelations":[{"updatedAt":"2026-01-28T21:47:53.845Z","createdAt":"2026-01-28T21:47:53.845Z","userId":"aceaae98-7559-4d0b-b10c-6f6c270ad153","projectId":"kt9urOqK3HpDhvEV","user":{"updatedAt":"2026-01-29T06:28:52.000Z","createdAt":"2026-01-28T21:47:52.275Z","id":"aceaae98-7559-4d0b-b10c-6f6c270ad153","email":"bilko@euroschooloftennis.com","firstName":"Bilko","lastName":"Bilkoff","personalizationAnswers":null,"settings":{"userActivated":false},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-28","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-29T06:34:08.949Z","createdAt":"2026-01-29T06:34:08.949Z","versionId":"16081d14-2a18-49ce-b428-2003a03f24b0","workflowId":"XKKSpAz02RMd3Puo","nodes":[{"id":"webhook-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"bilko-101","parameters":{"path":"bilko-101","responseMode":"responseNode","options":{}}},{"id":"google-sheets-read","name":"Read Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[500,300],"parameters":{"operation":"read","documentId":{"__rl":true,"value":"1nULmPk7J7TXbPJngdtT5w384aXhR-xS82nMegiHluZU","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"id"},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"","name":""}}},{"id":"format-message","name":"Format Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[750,300],"parameters":{"jsCode":"// Format the sheet data into a chat message\nconst rows = $input.all();\nconst webhookData = $('Webhook').first().json.body || {};\n\nlet message = '📊 *Sheet Update from Bilko 101*\\n\\n';\n\nif (rows.length === 0) {\n  message += 'No data found in the sheet.';\n} else {\n  // Get column headers from first row's keys\n  const headers = Object.keys(rows[0].json).filter(h => !h.startsWith('_'));\n  \n  // Build formatted output (limit to 10 rows for readability)\n  rows.slice(0, 10).forEach((row, index) => {\n    message += `*Row ${index + 1}*:\\n`;\n    headers.forEach(header => {\n      const value = row.json[header];\n      if (value !== undefined && value !== null && value !== '') {\n        message += `  ${header}: ${value}\\n`;\n      }\n    });\n    message += '\\n';\n  });\n  \n  if (rows.length > 10) {\n    message += `...and ${rows.length - 10} more rows\\n`;\n  }\n}\n\nreturn [{ \n  json: { \n    message, \n    rowCount: rows.length,\n    chatWebhookUrl: webhookData.chatWebhookUrl || ''\n  } \n}];\n"}},{"id":"send-to-chat","name":"Send to Google Chat","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1000,300],"parameters":{"method":"POST","url":"={{ $json.chatWebhookUrl || $('Webhook').first().json.body.chatWebhookUrl || ''  }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ text: $json.message }) }}","options":{}}},{"id":"respond-webhook","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1250,300],"parameters":{"respondWith":"json","responseBody":"={{ { success: true, rowsProcessed: $('Format Message').first().json.rowCount } }}"}}],"connections":{"Webhook":{"main":[[{"node":"Read Sheet","type":"main","index":0}]]},"Read Sheet":{"main":[[{"node":"Format Message","type":"main","index":0}]]},"Format Message":{"main":[[{"node":"Send to Google Chat","type":"main","index":0}]]},"Send to Google Chat":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Bilko Bilkoff","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-01-29T06:34:09.126Z","id":3,"workflowId":"XKKSpAz02RMd3Puo","versionId":"16081d14-2a18-49ce-b428-2003a03f24b0","event":"activated","userId":"aceaae98-7559-4d0b-b10c-6f6c270ad153"}]}}